* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-size: 30px;
  font-family: sans-serif;
  color: blueviolet;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.card {
  margin: 5px;
  width: 200px;
  height: 200px;
  list-style: none;
  padding: 20px;
  border: 2px solid black;
}

.img_div {
  display: flex;
  justify-content: center;
}

.img_div img {
  margin: 10px;
  align-items: center;
  width: 300px;
  height: 300px;
}
